{% extends "base_tablas.html" %}
{% load bootstrap3 %}
{% load staticfiles %}

{% block titulo %}
    {{ titulo }}
{% endblock titulo %}

{% block titulo_pagina %}
    {{ titulo }}
{% endblock titulo_pagina %}

{% block titulo_panel %}
    {{ titulo }}
{% endblock titulo_panel %}

{% block miga_pan %}
    <li class="active">{% if "registrar" in request.path %} Registro {% else %} Modificar {% endif %}</li>
{% endblock miga_pan %}

{% block contenido %}
    <div class="row">
        <div class="col-sm-4 col-md-4">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <div class="panel-control">

                    </div>
                    <h3 class="panel-title">{{ titulo }}</h3>
                </div>
                <div class="panel-body">
                    <form class="form-vertical" method="POST">{% csrf_token %}
                        {% bootstrap_form form layout="vertical" %}
                        <div class="col-xs-12" align="right">
                            <a href="{% url 'empresa_registrar_empresa' %}" class="btn btn-dark">Volver </a>
                            <button type="submit" class="btn btn-primary">
                                Guardar
                            </button>
                        </div>
                    </form>
                </div>
                <div class="panel-footer">

                </div>
            </div>
        </div>
        <div class="col-sm-8 col-md-8">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <div class="panel-control">

                    </div>
                    <h3 class="panel-title">Listado de empresas actuales</h3>
                </div>
                <div class="panel-body">
                    <div class="table-responsive">
                        <table class="table table-striped table-bordered tabla-responsive">
                            <thead>
                                <tr>
                                    <th>Nombre</th>
                                    <th>Dirección</th>
                                    <th>Cliente</th>
                                    <th>Opciones</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for dominio in dominios %}
                                    <tr>
                                        <td>
                                            {{ dominio.tenant.nombre }}
                                        </td>
                                        <td>
                                            {{ dominio.domain }}
                                        </td>
                                        <td>
                                            {{ dominio.tenant.cliente }}
                                        </td>
                                        <td>
                                            <div class="btn-group btn-group-sm">
                                                <div class="dropdown">
                                                    <button class="btn btn-sm btn-primary btn-active-primary dropdown-toggle" data-toggle="dropdown" type="button">
                                                        Opciones <i class="ti-angle-down"></i>
                                                    </button>
                                                    <ul class="dropdown-menu dropdown-menu-right">
                                                        <li><a href="{% url 'empresa_modificar_empresa' dominio.tenant.id %}">Modificar</a></li>

                                                    </ul>
                                                </div>
					                        </div>
                                        </td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="panel-footer">

                </div>
            </div>
        </div>
    </div>
{% endblock contenido %}

{% block  js %}
    {{ block.super }}
    <script>
        dominio = '{{ dominio|safe }}';
        $id_schema_name = $('#id_schema_name');
        $help_text = $id_schema_name.next();
        if ($help_text.html() !== 'Esta será su direccion: midireccion'+dominio){
            $help_text = $help_text.next();
        }

        $id_schema_name.on('change keydown paste input',function () {
            direccion = $id_schema_name.val();

            $help_text.html('Esta será su direccion: '+direccion+dominio);
        });
        $id_schema_name.trigger('change');

    </script>

    <script src="{% static 'plugins/bootstrap-datepicker/bootstrap-datepicker.min.js' %}"></script>
    <script src="{% static 'plugins/bootstrap-datepicker/locales/bootstrap-datepicker.es.min.js' %}"></script>
    <script>
        $('.component-date').datepicker({
            language: 'es',
            autoclose: true,
            format: 'yyyy-mm-dd',
            orientation: "bottom",
        });
    </script>
{% endblock %}