{% extends "base.html" %}
{% load bootstrap3 %}
{% load staticfiles %}

{% block titulo %}
    Gestionar planes
{% endblock titulo %}

{% block titulo_pagina %}
    Gestionar planes
{% endblock titulo_pagina %}

{% block titulo_panel %}
    Gestionar planes
{% endblock titulo_panel %}

{% block miga_pan %}
    <li class="active">Gestionar planes</li>
{% endblock miga_pan %}

{% block  css %}
    {{ block.super }}
    {% for form_plan in formset_planes.forms %}
         {{ form_plan.media.css }}
    {% endfor %}
{% endblock %}

{% block contenido %}
    <div class="row">
        <div class="col-sm-12 col-md-12">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <div class="panel-control">

                    </div>
                    <h3 class="panel-title">Gestionar planes</h3>
                </div>
                <div class="panel-body">
                    <form class="form-vertical" method="POST">{% csrf_token %}
                        <div class="row">
                            {% for form_plan in formset_planes.forms %}
                                <div class="col-sm-12 col-md-4">
                                    <h3>Plan {{ forloop.counter }}</h3>
                                    <hr>
                                    {% bootstrap_form form_plan layout="vertical" %}
                                    {% for hidden in form_plan.hidden_fields %}
                                        {{ hidden }}
                                    {% endfor %}
                                    {% if form_plan.errors %}
                                        <div class="alert alert-danger">
                                            {{ form_plan.errors }}
                                        </div>
                                    {% endif %}
                                </div>
                            {% endfor %}
                        </div>
                        {{ formset_planes.management_form }}
                        <div class="col-xs-12" align="right">
                            <a href="{% url 'inicio' %}" class="btn btn-dark">Volver </a>
                            <button type="submit" class="btn btn-primary">
                                Guardar
                            </button>
                        </div>

                    </form>
                </div>
                <div class="panel-footer">

                </div>
            </div>
        </div>
    </div>
{% endblock contenido %}

{% block  js %}
    {{ block.super }}
    {% for form_plan in formset_planes.forms %}
         {{ form_plan.media.js }}
    {% endfor %}
{% endblock %}
