{% extends "base_tablas.html" %}
{% load bootstrap3 %}
{% load staticfiles %}

{% block titulo %}
    Solicitudes pendientes
{% endblock titulo %}

{% block titulo_pagina %}
    Solicitudes pendientes
{% endblock titulo_pagina %}

{% block miga_pan %}
    <li>Empresa</li>
    <li class="active">Solicitudes</li>
{% endblock miga_pan %}

{% block titulo_panel %}
    Solicitudes pendiente
{% endblock titulo_panel %}

{% block contenido_panel %}
    <div class="table-responsive">
        <table class="table table-striped table-bordered tabla-responsive">
            <thead>
                <tr>
                    <th>Solicitante</th>
                    <th>Nombre de la empresa</th>
                    <th>Subdominio del sistema</th>
                    <th>Plan</th>
                    <th>Tema</th>
                    <th>Color</th>
                    <th>Opciones</th>
                </tr>
            </thead>
            <tbody>
                {% for solicitud in solicitudes %}
                    <tr>
                        <td>
                            {{ solicitud.solicitante }}
                        </td>
                        <td>
                            {{ solicitud.nombre }}
                        </td>
                        <td>
                            {{ solicitud.schema_name }}
                        </td>
                        <td>
                            {{ solicitud.plan }}
                        </td>
                        <td>
                            {{ solicitud.tema }}
                        </td>
                        <td>
                            {{ solicitud.color }}
                        </td>

                        <td>
                            <div class="btn-group btn-group-sm">
                                <div class="dropdown">
                                    <button class="btn btn-sm btn-primary btn-active-primary dropdown-toggle" data-toggle="dropdown" type="button">
                                        Opciones <i class="ti-angle-down"></i>
                                    </button>
                                    <ul class="dropdown-menu dropdown-menu-right">
                                        <li>
                                            <a data-toggle="modal" data-target="#modal-aceptar" href="#"
                                                   data-url="{% url 'empresa_aceptar_rechazar_solicitud' solicitud.id 1 %}"
                                                   data-solicitante="{{ solicitud.solicitante }} "
                                                   data-nombre="{{ solicitud.nombre }}"
                                                   data-schema-name="{{ solicitud.schema_name }}"
                                                   class="aceptar">
                                                    Aceptar
                                            </a>
                                        </li>
                                        <li>
                                            <a data-toggle="modal" data-target="#modal-rechazar" href="#"
                                                   data-url="{% url 'empresa_aceptar_rechazar_solicitud' solicitud.id 0 %}"
                                                   data-solicitante="{{ solicitud.solicitante }} "
                                                   data-nombre="{{ solicitud.nombre }}"
                                                   data-schema-name="{{ solicitud.schema_name }}"
                                                   class="rechazar">
                                                    Rechazar
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    <div class="modal fade" id="modal-aceptar">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">Solicitud de empresa</h4>
                </div>
                <div class="modal-body">
                    <p> ¿Está seguro que desea aceptar la solicitud de creación de empresa?</p>
                    <ul>
                        <li><strong>Solicitante: </strong><label class="solicitante"></label></li>
                        <li><strong>Nombre de la empresa: </strong><label class="nombre"></label></li>
                        <li><strong>Sudominio: </strong><label class="schema_name"></label></li>
                    </ul>
                </div>
                <div class="modal-footer">
                    <a id="confirmar-aceptar" class="btn btn-sm btn-primary">Aceptar</a>
                    <a href="javascript:;" class="btn btn-sm btn-dark" data-dismiss="modal">Cancelar</a>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>

    <div class="modal fade" id="modal-rechazar">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">Solicitud de empresa</h4>
                </div>
                <div class="modal-body">
                    <p> ¿Está seguro que desea rechazar la solicitud de creación de empresa?</p>
                    <ul>
                        <li><strong>Solicitante: </strong><label class="solicitante"></label></li>
                        <li><strong>Nombre de la empresa: </strong><label class="nombre"></label></li>
                        <li><strong>Sudominio: </strong><label class="schema_name"></label></li>
                    </ul>
                </div>
                <div class="modal-footer">
                    <a id="confirmar-rechazar" class="btn btn-sm btn-primary ">Rechazar</a>
                    <a href="javascript:;" class="btn btn-sm btn-dark" data-dismiss="modal">Cancelar</a>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>

<!-- /.modal -->
{% endblock contenido_panel %}

{% block js %}
    {{ block.super }}
    <script>
        $(".table").on('click','.aceptar', function (e) {
            var url = $(this).attr('data-url');
            var solicitante = $(this).data('solicitante');
            var nombre = $(this).data('nombre');
            var subdominio = $(this).data('schema-name');

            $(".solicitante").text(solicitante);
            $(".nombre").text(nombre);
            $(".schema_name").text(subdominio);
            $("#confirmar-aceptar").attr('href', url);
        });
        $(".table").on('click','.rechazar', function (e) {
            var url = $(this).attr('data-url');
            var solicitante = $(this).data('solicitante');
            var nombre = $(this).data('nombre');
            var subdominio = $(this).data('schema-name');

            $(".solicitante").text(solicitante);
            $(".nombre").text(nombre);
            $(".schema_name").text(subdominio);
            $("#confirmar-rechazar").attr('href', url);
        });
    </script>
{% endblock js %}


