{% extends "landing_base.html" %}
{% load bootstrap3 %}
{% load staticfiles %}

{% block titulo %}
    {{ titulo }}
{% endblock titulo %}

{% block css %}
    <link rel="stylesheet" type="text/css" href="{% static 'plugins/slider-pro-master/dist/css/slider-pro.min.css' %}" media="screen"/>
{% endblock css %}

{% block contenido %}
    <div class="row">
        <div class="col-sm-12">
            <div class=" panel panel-primary">
                <div class="panel-body">
                    <h2 align="center">Últimas noticias</h2>
                    <br>
                    {% include "vista_publica/slider.html" %}
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <div class="panel panel-primary">
                <div class="panel-body">
                    <h2 align="center">Eventos</h2>
                    <br>
                    {% include "vista_publica/eventos_landing.html" %}
                </div>
            </div>
        </div>
    </div>
{% endblock contenido %}



{% block js_propios %}
    <script type="text/javascript" src="{% static 'plugins/slider-pro-master/dist/js/jquery.sliderPro.min.js' %}"></script>
    <script>
        $('#my_slider').sliderPro({
            width: 800,
            height: 500,
            orientation: 'horizontal',
            loop: true,
            autoplay: true,
            arrows: true,
            buttons: false,
            thumbnailsPosition: 'right',
            thumbnailPointer: true,
            thumbnailWidth: 290,
            breakpoints: {
                800: {
                    thumbnailsPosition: 'bottom',
                    thumbnailWidth: 270,
                    thumbnailHeight: 100
                },
                500: {
                    thumbnailsPosition: 'bottom',
                    thumbnailWidth: 120,
                    thumbnailHeight: 50
                }
            }
        });
	</script>

{% endblock js_propios %}