.breadcrumb li, .breadcrumb li a {
    color: #000000;
}

.breadcrumb .active {
    font-weight: 400;
    color: #000000;
}

.breadcrumb>li+li:before {
    padding: 0 5px;
    color: #000;
    content: "/\00a0";
}

.breadcrumb>li+li:before {
    content: ">";
    display: inline-block;
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    line-height: 1;
}



body, #content-container {
    color: #040404;
}
.input-group {
  position: relative;
  display: table;
  border-collapse: separate;
  width: 100% !important;
}

/* SELECT 2 */
.select2-container--default .select2-selection--multiple .select2-selection__choice {
    background-color: #42a5f5 !important;
    color: #fff;
}

.select2-container {
    width: 100% !important;
}