{% extends "base.html" %}
{% load bootstrap3 %}
{% load staticfiles %}

{% block titulo %}
    Calendario
{% endblock titulo %}

{% block miga_pan %}
    <li class="active">Calendario</li>
{% endblock miga_pan %}

{% block titulo_pagina %}
    Calendario
{% endblock titulo_pagina %}

{% block titulo_panel %}
    Calendario
{% endblock titulo_panel %}

{% block css %}
    <!--Select2 [ OPTIONAL ]-->
    <link href="{% static 'plugins/select2/css/select2.min.css' %}" rel="stylesheet">

    <!--Full Calendar [ OPTIONAL ]-->
    <link href="{% static 'plugins/fullcalendar/fullcalendar.min.css' %}" rel="stylesheet">
	<link href="{% static 'plugins/fullcalendar/nifty-skin/fullcalendar-nifty.min.css' %}" rel="stylesheet">
{% endblock css%}

{% block contenido_panel %}
    <div class="row">
        <div class="form-group">
            <div class="panel-body">
                <div class="row">
                    <label class="control-label" style="padding-left: 25px">Seleccione un evento</label>
                </div>
                <div id="form-select" class="form-group col-sm-5 col-md-5 ">
                        <select id="select-evento" class="chosen-select form-control">
                            <option value="" default></option>
                            {% for evento in eventos %}
                                <option value={{ evento.id }}> {{ evento }}</option>
                            {% endfor %}
                        </select>
                </div>
                <div class="form-group">
                    <button id="enviar-evento" type="button" class="btn btn-primary"> Actualizar</button>
                </div>
                <hr color="gray" />
            </div>

        </div>
    </div>
    <div class="row">
        <!-- Calendar placeholder-->
        <!-- ============================================ -->
        <div class='calendar'></div>
        <!-- ============================================ -->
    </div>


{% endblock contenido_panel %}


{% block js %}
    {{ block.super }}
    <!--Select2 [ OPTIONAL ]-->
    <script src="{% static 'plugins/select2/js/select2.min.js' %}"></script>
    <!-- Full Calendar [ OPTIONAL ]-->
    <script src="{% static 'plugins/fullcalendar/lib/moment.min.js' %}"></script>
	<script src="{% static 'plugins/fullcalendar/lib/jquery-ui.custom.min.js' %}"></script>
	<script src="{% static 'plugins/fullcalendar/fullcalendar.min.js' %}"></script>
    <script src="{% static 'plugins/fullcalendar/lang/es.js' %}"></script>

    <script src="{% static 'js/apps/calendario/eventos_calendario.js' %}"></script>

    <script>
        // Initialize the calendar
        // -----------------------------------------------------------------
        $('.calendar').fullCalendar({
            locale:'es',
            header: {
                left: 'prev,next today',
                center: 'title',
                right: 'month,agendaWeek,agendaDay'
            },
            editable: false,
            defaultDate: moment().format("YYYY-MM-DD"),
            eventLimit: true // allow "more" link when too many events
        });
    </script>
    <script>
        actualizarCalendario('calendar','select-evento','{% url "calendario_datos_eventos" %}')
    </script>
{% endblock %}