{% extends "base_tablas.html" %}
{% load bootstrap3 %}
{% load staticfiles %}

{% block titulo %}
    {{ titulo }}
{% endblock titulo %}

{% block titulo_pagina %}
    {{ titulo }}
{% endblock titulo_pagina %}

{% block titulo_panel %}
    {{ titulo }}
{% endblock titulo_panel %}

{% block miga_pan %}
    <li>Evento</li>
    <li>Tema</li>
    <li class="active">{{ accion }}</li>
{% endblock miga_pan %}

{% block css %}
    {{ block.super }}
    <!--Bootstrap Datepicker [ OPTIONAL ]-->
    <link href="{% static 'plugins/bootstrap-datepicker/bootstrap-datepicker.min.css' %}" rel="stylesheet">
    <link href="{% static 'plugins/select2/css/select2.min.css' %}" rel="stylesheet">
{% endblock css %}

{% block contenido %}
    <div class="row">
        <div class="col-sm-4 col-md-4">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <div class="panel-control">

                    </div>
                    <h3 class="panel-title">{{ titulo }}</h3>
                </div>
                <div class="panel-body">
                    <form class="form-vertical" method="POST">{% csrf_token %}
                        {% bootstrap_form form layout="vertical" %}
                        <div class="col-xs-12" align="right">
                            <a href="{% url 'tema_registro_tema' %}" class="btn btn-dark">Volver </a>
                            <button type="submit" class="btn btn-primary">Guardar</button>
                        </div>
                    </form>
                </div>
                <div class="panel-footer">

                </div>
            </div>
        </div>
        <div class="col-sm-8 col-md-8">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <div class="panel-control">

                    </div>
                    <h3 class="panel-title">Listado de temas actuales</h3>
                </div>
                <div class="panel-body">
                    <div class="table-responsive">
                        <table class="table table-striped table-bordered tabla-responsive">
                            <thead>
                                <tr>
                                    <th>Nombre</th>
                                    <th>Opciones</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for tema in temas %}
                                    <tr>
                                        <td>
                                            {{ tema.nombre }}
                                        </td>
                                        <td>
                                            <a href="{% url 'tema_modificar_tema' tema.pk %}">
                                                <button class="btn btn-xs btn-primary">Modificar</button>
                                            </a>
                                            <a href="{% url 'tema_eliminar_tema' tema.pk %}">
                                                <button class="btn btn-xs btn-danger">Eliminar</button>
                                            </a>

                                        </td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="panel-footer">

                </div>
            </div>
        </div>
    </div>
{% endblock contenido %}
