{% extends "base.html" %}
{% load bootstrap3 %}
{% load staticfiles %}

{% block titulo %}
    {{ titulo }}
{% endblock titulo %}

{% block titulo_panel %}
{{ titulo }}
{% endblock titulo_panel %}

{% block panel_botones %}
{% if user.cargo == "Operador" %}
<a href="javascript:window.print()" class="btn btn-mint btn-md">
                <span class="glyphicon glyphicon-print"></span> Imprimir</a>

{% endif %}
{% endblock panel_botones %}

{% block miga_pan %}
<li>{{ tipo }}</li>
{% endblock miga_pan %}

{% block contenido_panel %}
<div class="row">
    <div class="col-md-10 col-md-offset-1">
        <div class="profile-right">
            <div class="profile-info">
                <div id="page-content">
                    <div class="col-sm-6 " >
                        {% if asistencias.participante.imagen != "" and asistencias.participante.imagen != None %}
                    <img class="img-bg img-thumbnail " src="{{ MEDIA_URL }}{{ asistencias.evento.imagen }}" width="100" height="100">

                        {% else %}
                    <img class="img-bg img-thumbnail " src="{% static 'img/default_evento.jpg' %}"  alt="">
                        {% endif %}

                        <tr class="highlight">

                            <h3 align="center"><b>{{asistencias.evento.nombre}}</b></h3>
                        </tr>

                        </div>
                        <div class="col-sm-6">
                        <tr class="highlight">
                            <h3><b>No. Identificación</b></h3>
                            {{asistencias.participante.cedula}}
                        </tr>

                        <tr class="highlight">
                            <h3><b>Participante</b></h3>
                            {{asistencias.participante.first_name}} {{asistencias.participante.last_name}}
                        </tr>

                        <tr class="highlight">
                            <h3><b>Correo electrónico</b></h3>
                            {{asistencias.participante.email}}
                        </tr>

                        <tr class="highlight">
                            <h3><b>Fecha de evento</b></h3>
                            {{asistencias.evento.fecha_inicio}} - {{asistencias.evento.fecha_fin}}
                        </tr>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock contenido_panel %}

