{% extends "landing_base.html" %}
{% load bootstrap3 %}
{% load staticfiles %}

{% block titulo %}
    Inscripción
{% endblock titulo %}

{% block contenido %}
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title">
                        Formulario de inscripción
                    </h3>
                </div>
                <div class="panel-body">
                    <div class="alert alert-primary">
                        <p>Si ya se encuentra registrado en la aplicación, no es necesario registrarse de nuevo.</p>
                    </div>
                    <form enctype="multipart/form-data" class="form-vertical" method="post">{% csrf_token %}
                        <div class="row">
                            <div class="col-sm-6 col-md-4">
                                {% bootstrap_field form.cedula layout="vertical" %}
                            </div>
                            <div class="col-sm-6 col-md-4">
                                {% bootstrap_field form.first_name layout="vertical" %}
                            </div>
                            <div class="col-sm-6 col-md-4">
                                {% bootstrap_field form.last_name layout="vertical" %}
                            </div>
                            <div class="col-sm-6 col-md-4">
                                {% bootstrap_field form.email layout="vertical" %}
                            </div>
                            <div class="col-sm-6 col-md-4">
                                {% bootstrap_field form.edad layout="vertical" %}
                            </div>
                            <div class="col-sm-6 col-md-4">
                                {% bootstrap_field form.sexo %}
                            </div>
                            <div class="col-sm-6 col-md-4">
                                {% bootstrap_field form.telefono %}
                            </div>
                            <div class="col-sm-6 col-md-4">
                                {% bootstrap_field form.imagen %}
                            </div>
                            <div class="col-sm-6 col-md-4">
                                {% bootstrap_field form.username %}
                            </div>
                            <div class="col-sm-6 col-md-4">
                                {% bootstrap_field form.password1 %}
                            </div>
                            <div class="col-sm-6 col-md-4">
                                {% bootstrap_field form.password2 %}
                            </div>
                            <div class="col-sm-6 col-md-4">
                                {% bootstrap_field form.captcha %}
                            </div>
                        </div>
                        <button class="btn btn-md btn-primary m-r-5 m-b-5" type="submit">Registrar</button>
                        <a href="{% url 'inicio' %}" class="btn btn-md btn-dark m-r-5 m-b-5">Cancelar</a>
                    </form>
                </div>
                <div class="panel-footer">
                </div>
            </div>
        </div>
    </div>
{% endblock %}