{% load staticfiles %}

<div id="page-content">
    <div class="row">
        <div class="col-md-12 col-xs-12">
            <div class=" panel panel-primary">
                <div class="panel-body">
                    <h2 align="center">{{ noticia.titulo}}</h2>
                    <br>
                    <div class="row">
                        <div class="col-sm-6 col-md-6">
                            {% if noticia.imagen %}
                                <img class="img-responsive" align="center" src="{{ MEDIA_URL }}{{ noticia.imagen }}">
                            {% else %}
                                <img class="img-responsive" align="center" src="{% static 'img/default_noticia.jpg' %}">
                            {% endif %}
                        </div>
                        <div class="col-sm-6 col-md-6">
                            <h4>
                                Fecha publicación: {{ noticia.fecha }}
                            </h4>

                            <h5 class="text-dark">
                                {{ noticia.descripcion }}
                            </h5>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>