{% extends "base_tablas.html" %}
{% load bootstrap3 %}
{% load staticfiles %}

{% block titulo %}
    Administrador | Dashboard
{% endblock titulo %}

{% block miga_pan %}
<li> Usuario</li>
<li class="active"> Dashboard</li>
{% endblock miga_pan %}

{% block titulo_pagina %}
    Dashboard
{% endblock titulo_pagina %}

{% block contenido %}
    <div class="row">
        <div class="col-sm-12 col-md-12">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <div class="panel-control">

                    </div>
                    <h3 class="panel-title">Mis empresas</h3>
                </div>
                <div class="panel-body">
                    <div class="table-responsive">
                        <table class="table table-striped table-bordered tabla-responsive">
                            <thead>
                                <tr>
                                    <th>Nombre</th>
                                    <th>Dirección</th>
                                    <th>Opciones</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for dominio in dominios %}
                                    <tr>
                                        <td>
                                            {{ dominio.tenant.nombre }}
                                        </td>
                                        <td>
                                            {{ dominio.domain }}
                                        </td>
                                        <td>
                                            <div class="btn-group btn-group-sm">
                                                <div class="dropdown">
                                                    <button class="btn btn-sm btn-primary btn-active-primary dropdown-toggle" data-toggle="dropdown" type="button">
                                                        Opciones <i class="ti-angle-down"></i>
                                                    </button>
                                                    <ul class="dropdown-menu dropdown-menu-right">
                                                        <li><a href="{% url 'empresa_modificar_empresa_cliente' dominio.tenant.id %}">Modificar</a></li>

                                                    </ul>
                                                </div>
					                        </div>
                                        </td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock contenido %}





