{% extends "base.html" %}
{% load bootstrap3 %}
{% load staticfiles %}

{% block titulo %}
Operador | Dashboard
{% endblock titulo %}

{% block miga_pan %}
<li> Usuario</li>
<li class="active"> Dashboard</li>
{% endblock miga_pan %}

{% block titulo_pagina %}
Dashboard
{% endblock titulo_pagina %}

{% block css %}
<!--Full Calendar [ OPTIONAL ]-->
<link href="{% static 'plugins/fullcalendar/fullcalendar.min.css' %}" rel="stylesheet">
<link href="{% static 'plugins/fullcalendar/nifty-skin/fullcalendar-nifty.min.css' %}" rel="stylesheet">
{% endblock css%}


{% block contenido %}


<div class="row">
    <div class="col-md-3">
        <div class="panel panel-warning panel-colorful media middle pad-all">
            <div class="media-left">
                <div class="pad-hor">
                    <i class="ti-map-alt icon-3x"></i>
                </div>
            </div>
            <div class="media-body">
                <p class="text-2x mar-no text-semibold">{{ num_eventos }}</p>
                <p lass="mar-no">Eventos registrados</p>
            </div>
        </div>
    </div>


    <div class="col-md-3">
        <div class="panel panel-info panel-colorful media middle pad-all">
            <div class="media-left">
                <div class="pad-hor">
                    <i class="ti-agenda icon-3x"></i>
                </div>
            </div>
            <div class="media-body">
                <p class="text-2x mar-no text-semibold">{{ num_actividades }}</p>
                <p lass="mar-no">Actividades registradas</p>
            </div>
        </div>
    </div>

    <div class="col-md-3">
        <div class="panel panel-mint panel-colorful media middle pad-all">
            <div class="media-left">
                <div class="pad-hor">
                    <i class="ti-rss icon-3x"></i>
                </div>
            </div>
            <div class="media-body">
                <p class="text-2x mar-no text-semibold">{{ num_noticias }}</p>
                <p lass="mar-no">Noticias registrados</p>
            </div>
        </div>
    </div>

    <div class="col-md-3">
        <div class="panel panel-purple panel-colorful media middle pad-all">
            <div class="media-left">
                <div class="pad-hor">
                    <i class="ti-id-badge icon-3x"></i>
                </div>
            </div>
            <div class="media-body">
                <p class="text-2x mar-no text-semibold">{{ num_participantes }}</p>
                <p lass="mar-no">Participantes registrados</p>
            </div>
        </div>
    </div>
</div>

<div class="col-md-6">
    <div class=" panel panel-primary">
        <div class="panel-body">
            <div class='calendar'></div>
        </div>
    </div>
</div>

<div class="col-md-6">
    <div class="panel panel-primary">
        <div class="panel-body">
            <div class="col-md-12">
                <div id="contenedor-grafico">
                    <canvas id="grafico"></canvas>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock contenido %}

{% block js %}
    {{ block.super }}
    <!-- Full Calendar [ OPTIONAL ]-->
    <script src="{% static 'plugins/fullcalendar/lib/moment.min.js' %}"></script>
    <script src="{% static 'plugins/fullcalendar/lib/jquery-ui.custom.min.js' %}"></script>
    <script src="{% static 'plugins/fullcalendar/fullcalendar.min.js' %}"></script>
    <script src="{% static 'plugins/fullcalendar/lang/es.js' %}"></script>

    <script src="{% static 'plugins/Chart-js/Chart.min.js' %}"></script>
    <script src="{% static 'js/apps/reporte/reportes.js' %}"></script>

    <script>
            generar_reporte_ingresos('#enviar_datos', '{% url "reporte_participantes_evento_reporte_datos" %}', 'grafico', 'num. part.', 'Top 5 de eventos por participantes')
    </script>

    <script>
            // Initialize the calendar
            // -----------------------------------------------------------------
            $('.calendar').fullCalendar({
                locale:'es',
                header: {
                    left: 'prev,next today',
                    center: 'title',
                    right: 'month,agendaWeek,agendaDay'
                },
                editable: false,
                defaultDate: moment().format("YYYY-MM-DD"),
                eventLimit: true // allow "more" link when too many events
            });

            function getRandomColor() {
                var letters = '0123456789ABCDEF';
                var color = '#';
                for (var i = 0; i < 6; i++) {
                    color += letters[Math.floor(Math.random() * 16)];
                }
                return color;
            }

            {% for actividad in actividades %}
                var nombre = '{{ actividad.nombre }}';
                var fecha_inicio = '{{ actividad.fecha_inicio|date:"Y-m-d" }} {{ actividad.hora_inicio }}';
                var fecha_fin = '{{ actividad.fecha_fin|date:"Y-m-d" }} {{ actividad.hora_fin }}';
                var programacion = {
                    title: nombre,
                    start: fecha_inicio,
                    end: fecha_fin,
                    color: getRandomColor(),
                }
                $('.calendar').fullCalendar('renderEvent', programacion, 'stick');
            {% endfor %}
    </script>
{% endblock js %}


