{% extends "base_tablas.html" %}
{% load bootstrap3 %}
{% load staticfiles %}

{% block titulo %}
    {{ titulo }}
{% endblock titulo %}

{% block miga_pan %}
    <li>{{ tipoLista }}</li>
    <li class="active">{{ accion }}</li>
{% endblock miga_pan %}

{% block titulo_panel %}
    {{ titulo }}
{% endblock titulo_panel %}

{% block js %}
    {{ block.super }}
    <script src="{% static 'js/apps/usuario/datos-usuario-cambiar-estado.js' %}"></script>

    <script>
        //script que trasfiere los datos del usuario al modal de confirmación
        $(".table").on('click', '.modificar', function (e) {
            var url = $(this).attr('data-url');
            var nombre = $(this).data('usuario-first_name');
            var apellido = $(this).data('usuario-last_name');
            var estado = $(this).data('usuario-is_active')
            $(".usuario-first_name").text(nombre);
            $(".usuario-last_name").text(apellido);
            $(".usuario.is_active").text(estado);
            $("#confirmar-modificar").attr('href', url);
        });


    </script>
{% endblock js %}

{% block panel_botones %}
    {% if user.cargo == 'Administrador' %}
        <a class="btn btn-sm btn-success" href="{% url 'usuario_registro_usuario' %}">
            <span>Registrar</span>
        </a>
    {% endif %}
{% endblock panel_botones %}

{% block contenido_panel %}
    <div class="table-responsive">
        <table class="table table-striped table-bordered tabla-responsive ">
            <thead>
            {% for encabezado in lista_encabezados %}
                <th>{{ encabezado }}</th>
            {% endfor %}
            </thead>
            <tbody>
            {% for usuario in lista_usuario %}
                <tr>
                    <td>
                        {{ usuario.username }}
                    </td>
                    <td>
                        {{ usuario.cedula }}
                    </td>
                    <td>
                        {{ usuario.first_name }} {{ usuario.last_name }}
                    </td>
                    <td>
                        {{ usuario.email }}
                    </td>
                    <td>
                        {{ usuario.cargo }}
                    </td>
                    <td>
                        {% if usuario.is_active == True %}
                                                Activo
                                            {% else %}
                                                Inactivo
                                            {% endif %}
                    </td>
                    <td>
                        <div class="btn-group btn-group-sm">
                            <div class="dropdown">
                                <button class="btn btn-sm btn-primary btn-active-primary dropdown-toggle"
                                        data-toggle="dropdown" type="button">
                                    Opciones <i class="ti-angle-down"></i>
                                </button>
                                <ul class="dropdown-menu dropdown-menu-right">

                                    {% if user.cargo == 'Administrador' %}

                                        <li><a href="{% url 'usuario_perfil_usuario' usuario.pk %}">
                                            Visualizar
                                        </a>
                                        </li>
                                        <li><a href="{% url 'usuario_modificar_usuario' usuario.pk %}">
                                            Modificar
                                        </a>
                                        </li>
                                        <li><a data-toggle="modal" data-target="#modal-modificar" href="#"
                                               data-url="{% url 'usuario_estado_usuario' usuario.pk %}"
                                               data-listado-nombre="{{ usuario.first_name }}"
                                               data-listado-apellido="{{ usuario.last_name }}"
                                               data-listado-estado="{{ usuario.is_active }}"
                                               class="modificar">

                                            {% if usuario.is_active != True %}
                                                Habilitar
                                            {% else %}
                                                Inhabilitar
                                            {% endif %}

                                        </a>
                                        </li>
                                        <li><a href="{% url 'usuarios_restablecer_contrasena' usuario.pk %}">
                                            Reestablecer contraseña
                                        </a>
                                        </li>

                                    {% elif user.cargo == 'Gerente' %}

                                        <li><a href="{% url 'usuario_perfil_usuario' usuario.pk %}">
                                            Visualizar
                                        </a>
                                        </li>

                                    {% endif %}

                                </ul>
                            </div>
                        </div>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

    <div class="modal fade" id="modal-modificar">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" align="center">Modificar el estado del usuario</h4>
                </div>
                <div class="modal-body">
                    <p> ¿Está seguro que desea modificar el estado del usuario?</p>
                    <p>
                    <li><strong>Nombre completo del usuario:</strong> <label class="listado-nombre"></label>
                        <label class="listado-apellido"></label></li>
                    <li><strong>Estado actual:</strong> <label class="listado-estado"></label></li>
                    </p>
                </div>
                <div class="modal-footer">
                    <a id="confirmar-modificar" class="btn btn-sm btn-danger ">Modificar</a>
                    <a href="javascript:;" class="btn btn-sm btn-default" data-dismiss="modal">Cancelar</a>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>

    <!-- /.modal -->
{% endblock contenido_panel %}

