{% extends "base.html" %}
{% load bootstrap3 %}
{% load staticfiles %}

{% block titulo %}
    {{ titulo }}
{% endblock titulo %}

{% block titulo_panel %}
    {{ titulo }}
{% endblock titulo_panel %}

{% block miga_pan %}
    <li>{{ tipo }}</li>
{% endblock miga_pan %}

{% block css %}
    <!-- strength password -->
    <link rel="stylesheet" href="{% static 'plugins/password-strength-meter/dist/password.min.css' %}">
{% endblock css %}

{% block contenido_panel %}
    <form enctype="multipart/form-data" class="form-vertical" method="post">{% csrf_token %}
        <div class="row">
            <div class="col-sm-6 col-md-5 col-md-offset-1">
                {% bootstrap_field form.first_name layout="vertical" %}
            </div>
            <div class="col-sm-6 col-md-5 col-md-offset-1">
                {% bootstrap_field form.last_name layout="vertical" %}
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6 col-md-5 col-md-offset-1">
                {% bootstrap_field form.cedula layout="vertical" %}
            </div>

            <div class="col-sm-6 col-md-5 col-md-offset-1">
                {% bootstrap_field form.edad layout="vertical" %}
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6 col-md-5 col-md-offset-1">
                {% bootstrap_field form.email %}
            </div>
            <div class="col-sm-6 col-md-5 col-md-offset-1">
                {% bootstrap_field form.telefono layout="vertical" %}
            </div>
            <div class="col-sm-6 col-md-5 col-md-offset-1">
                {% bootstrap_field form.cargo %}
            </div>
            <div class="col-sm-6 col-md-5 col-md-offset-1">
                {% bootstrap_field form.sexo %}
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6 col-md-5 col-md-offset-1">
                {% bootstrap_field form.username %}
            </div>
            <div class="col-sm-6 col-md-5 col-md-offset-1">
                {% bootstrap_field form.imagen %}
            </div>
        </div>

        <br>
        <button class="btn btn-md btn-primary m-r-5 m-b-5 col-md-offset-1" type="submit">Registrar</button>
        <a href="{% url 'usuario_listado_usuario' %}" class="btn btn-md btn-dark m-r-5 m-b-5">Cancelar</a>

    </form>

{% endblock contenido_panel %}