{% extends "base.html" %}
{% load bootstrap3 %}
{% load staticfiles %}

{% block titulo %}
    Restablecer contraseña
{% endblock titulo %}

{% block titulo_pagina %}
    Restablecer contraseña
{% endblock titulo_pagina %}

{% block miga_pan %}
    <li>Usuarios</li>
    <li>Modificar</li>
    <li class="active">Restablecer contraseña</li>
{% endblock miga_pan %}

{% block css %}
    <!-- strength password -->
    <link rel="stylesheet" href="{% static 'plugins/password-strength-meter/dist/password.min.css' %}">
{% endblock css %}


{% block contenido %}
    <div class="row">
        <div class="col-sm-6">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h4 class="panel-title">Restablecer contraseña del usuario {{usuario.get_full_name}}</h4>
                </div>
                <div class="panel-body">
                    <form class="form-vertical" method="POST">{% csrf_token %}
                        <div class="col-sm-offset-1 col-md-offset-1">
                            {% bootstrap_form form layout="vertical" %}
                        </div>

                        <hr>

                        <div class="col-xs-12" align="right">
                            <div class="divider"></div>
                            <a href="{% url 'usuario_listado_usuario' %}" class="btn btn-dark">Volver</a>
                            <button type="submit" class="btn btn-success">Cambiar contraseña</button>
                        </div>
                    </form>
                </div>
                <div class="panel-footer">
                    {% block pie_panel %}{% endblock pie_panel %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block js_propios %}
    <script src="{% static 'plugins/password-strength-meter/dist/password.min.js' %}"></script>
    <script>
        $('#id_password1').password({
            shortPass: 'La contraseña es demasiado corta',
            badPass: 'Débil; intente combinar letras y números',
            goodPass: 'Medio; intente usar caracteres especiales',
            strongPass: 'Contraseña segura',
            containsUsername: 'La contraseña contiene el nombre de usuario',
            enterPass: 'Escriba su contraseña',
            showPercent: false,
            showText: true, // shows the text tips
            animate: true, // whether or not to animate the progress bar on input blur/focus
            animateSpeed: 'fast', // the above animation speed
            username: false, // select the username field (selector or jQuery instance) for better password checks
            usernamePartialMatch: true, // whether to check for username partials
            minimumLength: 4 // minimum password length (below this threshold, the score is 0)
        });
    </script>
{% endblock js_propios %}