{% extends "base_tablas.html" %}
{% load bootstrap3 %}
{% load staticfiles %}

{% block titulo %}
   {{ titulo }}
{% endblock titulo %}

{% block titulo_pagina %}
    {{ titulo }}
{% endblock titulo_pagina %}

{% block miga_pan %}
    <li>{{ tipoLista }}</li>
    <li class="active">{{ accion }}</li>
{% endblock miga_pan %}

{% block titulo_panel %}
{{ titulo }}
{% endblock titulo_panel %}

{% block panel_botones %}
    {% if user.cargo == "Operador" %}
        <a class="btn btn-sm btn-success" href="{% url 'evento_registro_evento' %}">
            <span>Registrar</span>
        </a>
    {% endif %}
{% endblock panel_botones %}

{% block contenido_panel %}
    <div class="table-responsive">
        <table class="table table-striped table-bordered tabla-responsive">
            <thead>
                <tr>
                    {% for encabezado in lista_encabezados %}
                        <th>{{ encabezado }}</th>
                    {% endfor %}
                </tr>
            </thead>
            <tbody>
                {% for elemento in lista_elementos %}
                    <tr>
                        <td>
                            {{ elemento.nombre }}
                        </td>
                        <td>
                            {{ elemento.numero_participantes }}
                        </td>
                        <td>
                            {{ elemento.fecha_inicio }} - {{ elemento.fecha_fin }}

                        <td>
                            {{ elemento.estado }}
                        </td>
                        <td>
                            <div class="btn-group btn-group-sm">
                                <div class="dropdown">
                                    <button class="btn btn-sm btn-primary btn-active-primary dropdown-toggle" data-toggle="dropdown" type="button">
                                        Opciones <i class="ti-angle-down"></i>
                                    </button>
                                    <ul class="dropdown-menu dropdown-menu-right">
                                        <li>
                                            <a href="{% url 'evento_modificar_evento' elemento.pk %}">
                                                Modificar
                                            </a>
                                        </li>
                                        <li>
                                            <a href="{% url 'evento_dashboard_evento' elemento.pk %}">
                                                Dashboard
                                            </a>
                                        </li>
                                        {% if request.user.cargo == "Gerente"  %}
                                            <li>
                                                <a data-toggle="modal" data-target="#modal-activar-desactivar" href="#"
                                                   data-url="{% url 'evento_activar_desactivar_evento' elemento.pk %}"
                                                   data-listado-nombre="{{ elemento.nombre }}"
                                                   data-listado-descripcion="{{ elemento.descripcion }}"
                                                   data-listado-cantidad-participantes="{{ elemento.numero_participantes }}"
                                                   data-listado-estado="{{ elemento.estado }}"

                                                   class="activar-desactivar">
                                                    {% if elemento.estado == 'ACTIVO' %}
                                                        Desactivar
                                                    {% else %}
                                                        Activar
                                                    {% endif %}
                                                </a>
                                            </li>
                                        {% else %}
                                        {% endif %}

                                        <li>
                                            <a href="{% url 'evento_participante_evento' elemento.pk %}">
                                                Visualizar participantes
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

<div class="modal fade" id="modal-activar-desactivar">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Modificar estado del siguiente registro de evento</h4>
            </div>
            <div class="modal-body">
                <p> ¿Está seguro que desea cambiar el estado de este registro de evento?</p>
                <p> El registro con datos:
                <li>Evento: <label class="listado-nombre"></label></li>
                <li>Descripcion: <label class="listado-descripcion"></label></li>
                <li>Cantidad de participantes: <label class="listado-cantidad-participantes"></label></li>
                <li>Estado: <label class="listado-estado"></label></li>
                </p>
            </div>
            <div class="modal-footer">
                <a id="confirmar-activar-desactivar" class="btn btn-sm btn-primary">Modificar</a>
                <a href="javascript:;" class="btn btn-sm btn-dark" data-dismiss="modal">Cancelar</a>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>

<!-- /.modal -->
{% endblock contenido_panel %}

{% block js %}
    {{ block.super }}
    <script src="{% static 'js/apps/evento/tabla-activar-desactivar-evento.js' %}"></script>
{% endblock js %}


