{% extends "base_tablas.html" %}
{% load bootstrap3 %}
{% load staticfiles %}

{% block titulo_pagina %}
    {{ titulo }}
{% endblock titulo_pagina %}

{% block titulo %}
    {{ titulo }}
{% endblock titulo %}

{% block miga_pan %}
    <li>{{ tipoLista }}</li>
    <li class="active">{{ accion }}</li>
{% endblock miga_pan %}

{% block titulo_panel %}
    {{ titulo }}
{% endblock titulo_panel %}

{% block contenido_panel %}
    <div class="table-responsive">
        <table class="table table-striped table-bordered tabla-responsive">
            <thead>
            <tr>
                {% for encabezado in lista_encabezados %}
                    <th>{{ encabezado }}</th>
                {% endfor %}
                {% if user.cargo == "Operador" %}
                    <th>Acciones</th>
                {% endif %}
            </tr>
            </thead>
            <tbody>
            {% for asistencia in asistencias %}
                <tr>

                    <td>
                        {{ asistencia.participante.cedula }}
                    </td>
                    <td>
                        {{ asistencia.participante.first_name }}
                    </td>
                    <td>
                        {{ asistencia.participante.last_name }}
                    </td>
                    <td>
                        {{ asistencia.estado_participante }}
                    </td>

                    {% if user.cargo == "Operador" %}
                        <td>

                            <div class="btn-group btn-group-sm">
                                <div class="dropdown">
                                    <button class="btn btn-sm btn-primary btn-active-primary dropdown-toggle"
                                            data-toggle="dropdown" type="button">
                                        Opciones <i class="ti-angle-down"></i>
                                    </button>
                                    <ul class="dropdown-menu dropdown-menu-right">
                                        {% if asistencia.estado_participante == "PREINSCRITO" %}
                                            <li>
                                                <a data-toggle="modal" data-target="#modal-registrar" href="#"
                                                   data-url="{% url 'evento_confirmar_evento' asistencia.participante.pk evento.pk %}"
                                                   data-listado-nombre="{{ asistencia.participante.first_name }} "
                                                   data-listado-apellido="{{ asistencia.participante.last_name }}"
                                                   data-listado-evento="{{ evento.nombre }}"
                                                   data-listado-cedula="{{ asistencia.participante.cedula }}"
                                                   class="registrar">
                                                    Inscribir
                                                </a>
                                            </li>

                                        {% else %}
                                            <li><a
                                                   href="{% url 'gen_escarapela_participante' asistencia.participante.pk evento.pk %}">
                                                Escarapela
                                            </a>
                                            </li>  
                                        <li><a href="{% url 'usuario_perfil_modificar' asistencia.participante.pk  %}">
                                                Modificar
                                            </a>
                                            </li> 

                                        {% endif %}
                                    </ul>
                                </div>
                            </div>
                        </td>
                    {% endif %}
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>


    <div class="modal fade" id="modal-registrar">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">Proceso de inscripción del participante al evento</h4>
                </div>
                <div class="modal-body">
                    <p>Inscripción del participante:</p>
                    <ul>
                        <li><strong>Nombre:</strong> <label class="listado-nombre"></label> <label class="listado-apellido"></label></li>
                        <li><strong>Registrado con la cédula:</strong> <label class="listado-cedula"></label></li>
                        <li><strong>Evento al cual se registrará:</strong> <label class="listado-evento"></label></li>
                    </ul>
                </div>
                <div class="modal-footer">
                    <a id="confirmar-aceptar" class="btn btn-sm btn-primary ">Confirmar</a>
                    <a href="javascript:;" class="btn btn-sm btn-default" data-dismiss="modal">Cancelar</a>
                </div>
            </div>
            <!-- /.modal-content

        </div>
        <!-- /.modal-dialog -->
        </div>
    </div>

{% endblock contenido_panel %}

{% block js %}
    {{ block.super }}
    <script src="{% static 'js/apps/evento/informacion_participantes.js' %}"></script>
{% endblock %}
