{% extends "base.html" %}
{% load bootstrap3 %}
{% load staticfiles %}

{% block titulo %}
    {{ titulo }}
{% endblock titulo %}

{% block titulo_pagina %}
    {{ titulo }}
{% endblock titulo_pagina %}

{% block titulo_panel %}
    {{ titulo }}
{% endblock titulo_panel %}

{% block miga_pan %}
    <li>{{ tipo }}</li>
    <li class="active">{{ accion }}</li>
{% endblock miga_pan %}

{% block css %}
    <!--Bootstrap Datepicker [ OPTIONAL ]-->
    <link href="{% static 'plugins/bootstrap-datepicker/bootstrap-datepicker.min.css' %}" rel="stylesheet">
    <style>
        .map_canvas_wrapper {
            margin: 10px 0 10px 0 !important;
        }
    </style>
{% endblock css %}

{% block contenido_panel %}
    <form enctype="multipart/form-data" class="form-vertical" method="post">{% csrf_token %}
        <div class="row">
            <div class="col-sm-12 col-md-11 col-md-offset-1">
                {% bootstrap_field form.nombre layout="vertical" %}
            </div>

            <div class="col-sm-6 col-md-5 col-md-offset-1">
                {% bootstrap_field form.precio layout="vertical" %}
            </div>
            <div class="col-sm-6 col-md-5 col-md-offset-1">
                {% bootstrap_field form.numero_participantes layout="vertical" %}
            </div>

        </div>
        <div class="row">
            <div class="col-sm-6 col-md-5 col-md-offset-1">
                <div class="component-date">
                    {% bootstrap_field form.fecha_inicio layout="vertical" field_class="input-group date" addon_after='<i class="ti-calendar"></i>' %}
                </div>
            </div>
            <div class="col-sm-6 col-md-5 col-md-offset-1">
                <div class="component-date">
                    {% bootstrap_field form.fecha_fin layout="vertical" field_class="input-group date" addon_after='<i class="ti-calendar"></i>'%}
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12 col-md-5 col-md-offset-1">
                {% bootstrap_field form.descripcion layout="vertical" %}
            </div>
            <div class="col-sm-6 col-md-3 col-md-offset-1">
                {% bootstrap_field form.temas layout="vertical"%}
            </div>

            <div class="col-sm-6 col-md-4 col-md-offset-1">
                {% bootstrap_field form.imagen layout="vertical" %}
            </div>
        </div>

        <div class="row">
            <div class="col-sm-12 col-md-11 col-md-offset-1">
                {% bootstrap_field form.ubicacion %}
            </div>
            <div class="col-sm-12 col-md-11 col-md-offset-1">
                {% bootstrap_field form.address layout="vertical" %}
            </div>
            <div class="col-sm-6 col-md-11 col-md-offset-1">
                {% bootstrap_field form.geolocation layout="vertical"%}
            </div>
        </div>
        
        <button class="btn btn-md btn-primary m-r-5 m-b-5 col-md-offset-1" type="submit">Guardar</button>
        <a href="{% url 'evento_listado_evento' %}" class="btn btn-md btn-dark m-r-5 m-b-5">Cancelar</a>

    </form>

{% endblock contenido_panel %}

{% block js %}
    <!--Bootstrap Datepicker-->
    <script src="{% static 'plugins/bootstrap-datepicker/bootstrap-datepicker.min.js' %}"></script>
    <script src="{% static 'plugins/bootstrap-datepicker/locales/bootstrap-datepicker.es.min.js' %}"></script>
    <script>
        $('.component-date .input-group.date').datepicker({
            language: 'es',
            autoclose: true,
            format: 'yyyy-mm-dd',
        });
    </script>
{% endblock js %}