{% extends "landing_base.html" %}
{% load bootstrap3 %}
{% load staticfiles %}

{% block titulo %}
    {{ titulo }}
{% endblock titulo %}


{% block contenido %}
    <div class="row">
        <div class="col-md-12 col-xs-12">
            <div class=" panel panel-primary">
                <div class="panel-body">
                    <h2 align="center">{{ evento.nombre }}</h2>
                    <br>

                    <div class="col-md-5 col-md-offset-1">

                        <div class="col-md-5">
                            <div class="panel media pad-all bg-primary">
                                <div class="media-left">
                                    <span class="icon-2x ti-user bg-primary"></span>
                                </div>
                                <div class="media-body">
                                    <p class="text-2x mar-no text-semibold">{{ num_participantes }}</p>
                                    <p class="class=mar-no">Participantes</p>
                                </div>
                            </div>
                        </div>


                        <div class="col-md-5 col-md-offset-2">
                            <div class="panel media pad-all bg-warning">
                                <div class="media-left">
                                    <span class="icon-2x ti-ticket bg-warning"></span>
                                </div>
                                <div class="media-body">
                                    <p class="text-2x mar-no text-semibold">{{ actividades|length }}</p>
                                    <p class="class=mar-no">Actividades</p>
                                </div>
                            </div>
                        </div>

                        <br/>

                        {% if evento.imagen != "" and evento.imagen != None %}
                            <img class="img-responsive" src="{{ MEDIA_URL }}{{ evento.imagen }}">
                        {% else %}
                            <img class="img-responsive" src="{% static 'img/default_evento.jpg' %}">
                        {% endif %}

                        <br>
                        {% if request.user.cargo == "Participante" %}
                            <form action="{% url 'preinscripcion_participante' %}" class="form-vertical"
                                  method="post">{% csrf_token %}
                                <button class="btn btn-primary mar-btm" type="submit"> Preinscribirme</button>
                            </form>
                        {% else %}
                            <p class="alert alert-info" style="font-size: 14px;">Para preiscribirse en el evento necesita registrarse en la aplicación como "Participante</p>
                        {% endif %}
                    </div>
                    <div class="col-md-5 col-md-offset-1 col-xs-12">
                        <div class="profile-right">
                            <div class="profile-info">
                                <div class="table-responsive">
                                    <table class="table table-profile">
                                        <tbody>
                                        <tr class="highlight">
                                            <td class="field"><h5>Fecha de inicio</h5></td>
                                            <td>{{ evento.fecha_inicio }}</td>
                                        </tr>

                                        <tr class="highlight">
                                            <td class="field"><h5>Fecha de finalización</h5></td>
                                            <td>{{ evento.fecha_fin }}</td>
                                        </tr>

                                        <tr class="highlight">
                                            <td class="field"><h5>Ubicación</h5></td>
                                            <td>{{ evento.ubicacion }}</td>
                                        </tr>

                                        <tr class="highlight">
                                            <td class="field"><h5>Precio</h5></td>
                                            {% if request.user.cargo == "Participante" %}
                                                <td>COP {{ precio }}  </td>
                                            {% else %}
                                               <td>COP {{ precio }}  </td>
                                            {% endif %}
                                        </tr>

                                        <tr class="highlight">
                                            <td class="field"><h5>Numero de participantes</h5></td>
                                            <td>{{ evento.numero_participantes }}</td>
                                        </tr>

                                        <tr class="highlight">
                                            <td class="field"><h5>Descripción</h5></td>
                                            <td>{{ evento.descripcion }}</td>
                                        </tr>
                                        <tr class="highlight">
                                            <td class="field" colspan="2">
                                                <h5>Dirección</h5>
                                                <div id="mapa_institucion" style="width: 100%; height: 200px"></div>
                                            </td>

                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>


                    </div>


                    <div class="col-md-10 col-md-offset-1 col-xs-12">
                        <br><h4 align="center">Actividades del evento</h4><br>
                        <div class="table-responsive">

                            <table class="table table-striped table-bordered tabla-responsive">
                                <thead>
                                <tr>
                                    <th>Nombre</th>
                                    <th>Fecha</th>
                                    <th>Horario</th>
                                    <th>Ubicación</th>
                                </tr>

                                </thead>
                                <tbody>
                                {% for actividad in actividades %}
                                    <tr>
                                        <td>
                                            {{ actividad.nombre }}
                                        </td>
                                        <td>
                                            {{ actividad.fecha_inicio }} - {{ actividad.fecha_fin }}
                                        </td>
                                        <td>
                                            {{ actividad.hora_inicio }} - {{ actividad.hora_fin }}
                                        </td>

                                        <td>
                                            {{ actividad.ubicacion }}
                                        </td>
                                    </tr>
                                {% endfor %}

                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock contenido %}

{% block js_propios %}
    <script>
        var latitud = {{ evento.geolocation.lat|safe }};
        var longitud = {{ evento.geolocation.lon|safe }};
    </script>
    <script src="{% static 'js/apps/evento/generar_mapa.js' %}"></script>
    <script async defer src="https://maps.googleapis.com/maps/api/js?key={{ GOOGLE_MAPS_KEY|safe }}&callback=generarMapa"></script>
{% endblock %}