{% extends "base_tablas.html" %}
{% load bootstrap3 %}
{% load staticfiles %}

{% block titulo %}
    {{ titulo }}
{% endblock titulo %}

{% block titulo_pagina %}
    {{ titulo }}
{% endblock titulo_pagina %}

{% block miga_pan %}
    <li>{{ tipoLista }}</li>
    <li class="active">{{ accion }}</li>
{% endblock miga_pan %}

{% block titulo_panel %}
    {{ titulo }}
{% endblock titulo_panel %}

{% block panel_botones %}
    <a class="btn btn-sm btn-success" href="{% url 'actividad_crear' %}">
        <span>Registrar</span>
    </a>
{% endblock panel_botones %}

{% block contenido_panel %}
    <div class="table-responsive">
        <table class="table table-striped table-bordered tabla-responsive">
            <thead>
                <tr>
                    <th>Nombre</th>
                    <th>Fecha</th>
                    <th>Horario</th>
                    <th>Evento asociado</th>
                    <th>Opciones</th>
                </tr>
            </thead>
            <tbody>
            {% for elemento in lista_elementos %}
                <tr>
                    <td>
                        {{ elemento.nombre }}
                    </td>
                    <td>
                        {{ elemento.fecha_inicio }} - {{ elemento.fecha_fin }}
                    </td>
                    <td>
                        {{ elemento.hora_inicio }} - {{ elemento.hora_fin }}
                    </td>

                    <td>
                        {{ elemento.evento }}
                    </td>

                    <td>
                        <div class="btn-group btn-group-sm">
                            <div class="dropdown">
                                <button class="btn btn-sm btn-primary btn-active-primary dropdown-toggle"
                                        data-toggle="dropdown" type="button">
                                    Opciones <i class="ti-angle-down"></i>
                                </button>
                                <ul class="dropdown-menu dropdown-menu-right">
                                    <li>
                                        <a href="{% url 'actividad_modificar' elemento.pk %}">
                                            Modificar
                                        </a>
                                    </li>
                                    {% if elemento.estado == 'ACTIVO' %}

                                        <li>
                                            <a data-toggle="modal" data-target="#modal-desactivar" href="#"
                                               data-url="{% url 'actividad_desactivar' elemento.pk %}"
                                               data-listado-nombre="{{ elemento.nombre }}"
                                               data-listado-ubicacion="{{ elemento.ubicacion }}"
                                               data-listado-fecha_inicio="{{ elemento.fecha_inicio }}"
                                               data-listado-evento="{{ elemento.evento }}"
                                               data-listado-estado="{{ elemento.estado }}"

                                               class="desactivar">
                                                Desactivar
                                            </a>
                                        </li>

                                    {% else %}
                                        <li>
                                            <a data-toggle="modal" data-target="#modal-activar" href="#"
                                               data-url="{% url 'actividad_desactivar' elemento.pk %}"
                                               data-listado-nombre="{{ elemento.nombre }}"
                                               data-listado-ubicacion="{{ elemento.ubicacion }}"
                                               data-listado-fecha_inicio="{{ elemento.fecha_inicio }}"
                                               data-listado-evento="{{ elemento.evento }}"
                                               data-listado-estado="{{ elemento.estado }}"
                                               class="activar">
                                                Activar
                                            </a>
                                        </li>
                                    {% endif %}
                                </ul>
                            </div>
                        </div>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

    <div class="modal fade" id="modal-desactivar">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">Desea desactivar la siguiente actividad</h4>
                </div>
                <div class="modal-body">
                    <p> ¿Está seguro que desea desactivar la siguiente actividad?</p>
                    <p> El registro con datos:</p>
                    <ul>
                        <li>Actividad: <label class="listado-nombre"></label></li>
                        <li>Ubicación: <label class="listado-ubicacion"></label></li>
                        <li>Fecha inicio: <label class="data-listado-fecha_inicio"></label></li>
                        <li>Evento: <label class="listado-evento"></label></li>
                        <li>Estado: <label class="listado-estado"></label></li>
                    </ul>
                </div>
                <div class="modal-footer">
                    <a id="confirmar-desactivar" class="btn btn-sm btn-danger btn-rounded">Desactivar</a>
                    <a href="javascript:;" class="btn btn-sm btn-dark btn-rounded" data-dismiss="modal">Cancelar</a>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>


    <div class="modal fade" id="modal-activar">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">Desea activar la siguiente actividad:</h4>
                </div>
                <div class="modal-body">
                    <p> ¿Está seguro que desea activar la siguiente actividad?</p>
                    <p> El registro con datos:</p>
                    <ul>
                        <li>Actividad: <label class="listado-nombre"></label></li>
                        <li>Ubicación: <label class="listado-ubicacion"></label></li>
                        <li>Fecha inicio: <label class="data-listado-fecha_inicio"></label></li>
                        <li>Evento: <label class="listado-evento"></label></li>
                        <li>Estado: <label class="listado-estado"></label></li>
                    </ul>
                </div>
                <div class="modal-footer">
                    <a id="confirmar-activar" class="btn btn-sm btn-mint btn-rounded">Activar</a>
                    <a href="javascript:;" class="btn btn-sm btn-dark btn-rounded" data-dismiss="modal">Cancelar</a>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>
    <!-- /.modal -->
{% endblock contenido_panel %}

{% block js %}
    {{ block.super }}
    <script src="{% static 'js/apps/actividad/tabla-eliminar-actividad.js' %}"></script>
{% endblock %}


